/* PALETTE */

:root {
    --first-color: #f7b267;
    --second-color: #3d3d3d;
    --third-color: #808a9f;
    --fourth-color: #fbfbfb;
    --fifth-color: #000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    color: var(--second-color);
    font-family: "Raleway", sans-serif;
}

a {
    color: #fdb833;
}

a:visited {
    color: #b1740f;
}
